<h2>Project Manager</h2>

<h3>Add Project</h3>

<form>
    <input type="text" placeholder="Project Name" ng-model="vm.newProject.name">
    <input type="number" placeholder="Square Feet" ng-model = "vm.newProject.sqft">
    <input type="submit" ng-click="vm.postProject()">
</form>

<table>
    <thead>
        <tr>
            <th>Project</th>
            <th>Square Feet</th>
            <th>Total Hours</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

