<h1 layout-align="center center" class="md-display-3">Project Manager</h1>

<form>
    <md-container layout="column" layout-align="center center">
        <md-input-container>
            <input class="formInput" type="text" placeholder="Project Name" ng-model="vm.newProject.project_name">
        </md-input-container>
        <md-input-container>
            <input class="formInput" type="number" placeholder="Square Feet" ng-model="vm.newProject.sqft">
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit" ng-click="vm.postProject()">Add Project</md-button>
    </md-container>
</form>

<md-table-container>
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column scope="col">Project</th>
                <th md-column scope="col">Square Feet</th>
                <th md-column scope="col">Total Hours</th>
                <th md-column scope="col">Delete</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="project in vm.projects.projects">
                <td md-cell>{{project.project_name}}</td>
                <td md-cell>{{project.sqft}} Square Feet</td>
                <td md-cell>{{project.total_hours}} Hours</td>
                <td md-cell>
                    <md-button class="md-raised md-warn" ng-click="vm.deleteProject(project.id)">Delete</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>