<h2>Project Manager</h2>

<h3>Add Project</h3>

<form>
    <input type="text" placeholder="Project Name" ng-model="vm.newProject.project_name">
    <input type="number" placeholder="Square Feet" ng-model = "vm.newProject.sqft">
    <input type="submit" ng-click="vm.postProject()">
</form>

<table>
    <thead>
        <tr>
            <th scope="col">Project</th>
            <th scope="col">Square Feet</th>
            <th scope="col">Total Hours</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in vm.projects.projects">
            <th scope="row">{{project.project_name}}</th>
            <td>{{project.sqft}} Square Feet</td>
            <td>{{project.total_hours}} Hours</td>
            <td><button>Delete</button></td>
        </tr>
    </tbody>
</table>

