<h2>Time Entry Page</h2>

<form>
    <h3>Add Time Entry</h3>
    <input type="text" placeholder="What did you do?" ng-model="vm.newEntry.entry_name">
    <select name="projectName" id="projectNameSelect">
        <option ng-repeat="project in vm.projects.projects" value="{{project.id}}">{{project.project_name}}</option>
    </select>
    <input type="date" name="entryDate" id="entryDate">
    <input type="time" placeholder="Start Time">
    <input type="time" placeholder="End Time">
    <input type="submit" ng-click="vm.postEntry()">
</form>

<table>
    <thead>
        <tr>
            <th scope="col">Entry</th>
            <th scope="col">Project</th>
            <th scope="col">Date</th>
            <th scope="col">Hours</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>