<h2>Time Entry Page</h2>

<form>
    <h3>Add Time Entry</h3>
    <input type="text" placeholder="What did you do?">
    <select name="projectName" id="projectNameSelect">
        <option value="project1">Project 1</option>
        <option value="project2">Project 2</option>
        <option value="project3">Project 3</option>
    </select>
    <input type="date" name="projectDate">
    <input type="text" placeholder="Start Time">
    <input type="text" placeholder="End Time">
    <input type="submit">
</form>