<h2>Time Entry Page</h2>

<form>
    <h3>Add Time Entry</h3>
    <input type="text" placeholder="What did you do?" ng-model="vm.newEntry.entry_name" required>
    <select name="projectName" id="projectNameSelect" required>
        <option ng-repeat="project in vm.projects.projects" value="{{project.id}}">{{project.project_name}}</option>
    </select>
    <input type="date" name="entryDate" id="entryDate" required>
    <label for="startTime">Start Time</label>
    <input type="time" id="startTime" placeholder="Start Time">
    <label for="endTime">End Time</label>
    <input type="time" id="endTime" placeholder="End Time">
    <input type="submit" ng-click="vm.postEntry()">
</form>

<button ng-click="vm.calculateHours()">Get Time</button>

<table>
    <thead>
        <tr>
            <th scope="col">Entry</th>
            <th scope="col">Project</th>
            <th scope="col">Date</th>
            <th scope="col">Hours</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in vm.entries.entries">
            <th scope="row">{{entry.entry_name}}</th>
            <td>{{entry.project_id}}</td>
            <td>{{entry.date}}</td>
            <td>{{entry.total_hours}}</td>
            <td><button ng-click="vm.deleteEntry(entry.id)">Delete Entry</button></td>
        </tr>
    </tbody>
</table>